<div class="page-header">
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-4" [hidden]="!loggedIn">
			<div class="row">
				<div class="col-md-4" [hidden]="!user.photoURL">
					<img [src]="user.photoURL" class="img-rounded" width="50" height="50">
				</div>
				<div class="col-md-4" [hidden]="!user.displayName">
					<h6>Hello, {{user.displayName}}!</h6>
				</div>
				<div class="col-md-4">
					<button class="btn btn-danger" (click)="logout()">Logout</button>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<h1 class="main-title">
			switr
		</h1>
		<p>
			Simpler than Twitter
		</p>
		<p>
			This product is created for demo purpose to any tech community in Jakarta, or any other cities.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="https://github.com/sigit-prayoga/switr-web.git" role="button">
            Learn me on Github
          </a>
		</p>
	</div>
</div>